.navbar {
  background-color: black;
  height: 100vh;
  width: 15%;
  padding-left: 2vh;
  padding-right: 2vh;
  display: flex;
  flex-direction: column;
  gap: 0vh;
  position: fixed;
  z-index: 10;
  top: 0;
}

.profile-box {
  display: flex;
  gap: 3vw;
  padding-top: 5vh;
}

.profile-picture {
  height: 2rem;
  border-radius: 50%;
}

.username-settings {
  display: flex;
  gap: 1vw;
}

.username {
  color: white;
  font-size: 15px;
}

.settings-icon {
  width: 1.5rem;
}

.settings-icon {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.settings-icon:hover {
  transform: rotate(360deg);
}


.dots {
  display: flex;
  margin-top: 1vh;
  width: 5vh;
}

/*Nav items*/
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.list-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.25rem;
  width: 100%;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: hsl(0, 0%, 100%, 0.2); */
  cursor: pointer;
}

.list-dashboard {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.icon-item {
  display: flex;
}

.main-nav:hover {
  background-color: hsl(0, 0%, 100%, 0.2);
  transition: background-color 0.5s;
  border-radius: 20px;
}

.list-dashboard:hover {
  background-color: hsl(0, 0%, 100%, 0.2);
  border-radius: 20px;
  transition: background-color 0.5s;
}

.list-icon {
  margin-right: 15px;
  width: 15px;
}

.list-item {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 0px;
}

.collapse-icon {
  padding-right: 5px;
  transition: transform 0.3s;
  width: 15px;
}

.collapse-icon.open {
  transform: rotate(180deg);
}

.mini-nav {
  list-style: none;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* Adjust gap to match the desired spacing */
  position: relative;
  margin-top: 2vh;
  margin-left: 0; /* Remove margin to align with the left border */
}

.mini-item {
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  padding-left: 1rem;
  position: relative;
}

.mini-item::before {
  content: '';
  position: absolute;
  left: -0.9rem; /* Adjust the position to align the vertical lines */
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 1rem; /* Adjust width to match the horizontal line length */
  border-top: 4px solid #333333;
}

.mini-nav::before {
  content: '';
  position: absolute;
  left: 13px; /* Align vertical line with the left edge */
  top: 0;
  bottom: 0;
  border-left: 4px solid #333333;
}

.mini-item:hover {
  text-decoration: underline;
  color:#FFDA16;
}

.mini-nav {
  text-align: left;
}
