.client-info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.client-info-section p {
  margin: 0;
}

.client-info-section {
  font-size: 18px;
}

.client-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #ffda16;
}

.client-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}
.client-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4vw;
}

.client-info-container h1 {
  border-bottom: 5px solid #ffda16;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
