.header {
  display: flex;
  flex-direction: column;
}

.expense-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expenses-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8519vh;
  margin-top: 1.8519vh;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.expenses-total h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
}

.expenses-total span {
  color: #f44336;
  font-weight: bold;
  font-size: 1.5rem;
}

.expenses-total .total-icon {
  font-size: 1.5rem;
  color: #4caf50;
  margin-right: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Frosted glass effect for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Border with transparency */
  border-radius: 10px;
  padding: 2rem;
  width: 50vw;
  max-width: 90%;
  box-sizing: border-box; /* Ensure padding doesn’t affect width */
  color: #fff; /* Ensure text is readable on transparent background */
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Adjust gap for vertical spacing */
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%; /* Ensure the form fills the modal */
}

.field {
  width: 100%; /* Maintain full width */
  box-sizing: border-box; /* Prevent padding overflow */
  padding: 0.5rem; /* Adjust padding for consistent spacing */
}

.label {
  display: flex;
  flex-direction: column;
}

.close-button {
  background: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add-expense-button {
  background: rgba(255, 255, 0, 0.8);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem; /* Spacing between dropdowns and button */
  margin-bottom: 1.5rem; /* Space below the filter section */
}

.filters select,
.filters input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s;
  width: auto;
}