.rev-totals{
  display: flex;
  justify-content: space-between;
}

/* Header Styles */
.rev-header {
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  justify-content: space-between;
}

.rev-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  width: 50%;
  
}

.rev-total {
  font-size: 45px;
}

.yellow-bar.rev {
  height: 3.5rem;
}

.buttons.white {
  background-color: white;
  color: #222;
  padding: 1.25vh;
}

.table-header.rev {
  display: flex;
  justify-content: space-between;
}

.rev-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}